.weather {
    color: white;
    padding: 10px 25px;
    width: 160px;
}

.current-temp {
    font-size: 40px;
    padding: 10px;
    margin: 0px;
}

.description {
    margin: auto;
    font-size: 20px;
}

.temps {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.day {
    margin: 0;
    font-size: 20px;
}

.high {
    color:white;
}

.low {
    color:black;
}

.today {
    background-color: grey;
}